# Dependencies
node_modules/

# Build output
dist/
*.tsbuildinfo

# Logs
npm-debug.log*
*.log

# Editors / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/
Thumbs.db

# Local env files
.env
.env.local
